

:local(.secTitle) {
    text-align: center;
    margin-bottom: 30px;
}

:local(.mainTitle){
    margin-top: 20px;
}

:local(.videoWrapper) {
    margin: 10px;
    background: #fff;
    margin: 0 5px;
}

:local(.videoWrapper h2) {
    font-size: 20px;
    font-weight: 400;
    color: #4d4d4d;
    margin: 15px 0;
    padding: 0 10px;
    line-height: 1.4rem;
    margin:0;
}

:local(.videoWrapper p) {
    color: red;
    margin: 15px 0;
    padding: 0 10px;
    line-height: .9rem;
    margin-top:0;
    margin-bottom:30px;
}
:local(.videoWrapper iframe ){
    border: 0;
    max-width: 100%;
    height: auto;
}


/******** LOAD MORE ********/
:local(.videoList_wrapper) {
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(100%);
    transition: all .5s ease-in;
}

:local(.videoList_wrapper_enter) {
    opacity: 1;
    transform: translateY(0%);
}


/******** GRID ********/

  @media (min-width: 320px) {
    :local(.colFour) {
        position: relative;
        width: 100%;
      }

      :local(.colFour)  {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
  }

  @media (min-width: 601px) {   
    :local(.colFour) {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        float: left;
      }
  } 

  @media (min-width: 1920px) {   
    :local(.colFour)  {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        float: left;
      }
  } 

  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }