
:local(.blue_btn) {
    background: #f7941d;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px
}

